@use 'variaveis';

.hero {
    background-image: url(../images/matrix-background.jpg);
    text-align: center;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    background-repeat: no-repeat;

    &__content {
        max-width: 50vw;

        &__branding {
            max-width: 480px;
            max-height: 480px;
            margin: 0 auto;

            img {
                height: 100vh;
                width: 80vw;
            }

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin: 32px auto ;
        }
    }
}